



    <div class='headline'><h1>Breaking News</h1></div>



    <div class='wrapper1'>
     <div class='breakingNews'>
         <!--Photo of dog with glasses and hat from: https://mlblogsjdhernandez.
         wordpress.com/2014/08/25/jds-ballpark-tour-eighth-inning-flushing-ny/-->
     </div>
     <p class ='p1'>Senator Gruff was seen on L street Homeless!</p> 
     <p class ='p1'>Gruff's wife kicked him out on the street because he ate all of the bacon strips!</p>
    </div>










<h3><i class="fa fa-paw" aria-hidden="true"></i>Latest Pooch News</i></h3>

     <aside class='left-side'>
          <p class ='p2'>Baby attacked but vicious pugs</p>
     </aside>


     <aside class='right-side'>
         <iframe src="https://giphy.com/embed/8J4w2i7kP7ceQ" width="150" height="150" frameBorder="5" class="giphy-embed" allowFullScreen>
         </iframe>
     </aside>
    





