




    <h3 id='welcome'><i class="fa fa-paw" aria-hidden="true"></i>The Woofington Post<i class="fa fa-paw" aria-hidden="true"></i></h3>
   
    
    <a class = 'btn login-button' href = '/loginButton'>Log In</a>
    

     

   




