
body{
    background-image: url(dog.png);
    font-size: 12px;
    background-size: cover;
    height: 803px;
    background-position: center;

    /*Photo by Mat Hayward/Shutterstock
    website: http://roamnewroads.ca/7-tips-for-taking-your-dog-on-summer-road-trips/
    */
}

h1{
    color: red;
}

topnav{
    background-color: rgb(170, 158, 158);
}

