
body{
    background-image: url(dog.png); 
    font-size: 12px;
    background-size: cover;
    height: 803px;
    background-position: center;
}

    /*Photo by Mat Hayward/Shutterstock
    website: http://roamnewroads.ca/7-tips-for-taking-your-dog-on-summer-road-trips/
    */




h3{
    color: brown;
    padding-left: 200px;
    padding-top: 100px;
    font-family: 'Vidaloka', serif;
    font-size: 50px;
}

iframe{

}

#topnav{
    background-color: brown;
    opacity: 0.5;
}
/*homepg.handlebars*/
#welcome{
    padding-left: 5px;
    float: left;
    color: brown;
    margin-bottom: 40px;
    margin-top: 60px;
}

.login-button{
    float: left;
    background-color: brown;
    margin-top: 300px;
    margin-left: -340px; 
    color: rgb(185, 139, 139); 
    font-size: 19px;
    font-family: 'Vidaloka', serif;
    height: 40px;
    width: 100px;
   
   
    
}
/*end homepfg*/

h1{
    color: brown;
    padding-left: 200px;
    padding-top: 120px;
    font-family: 'Vidaloka', serif;
    font-size: 80px;
    text-align: center;
}

.headline{
    padding-bottom: 30px;
}

.breakingNews{
    background-image: url(gruff.png);
    background-size: cover;
    background-position: center;
    border: solid;
    border-color: brown;
    float: left;
    height: 250px;
    width: 350px;
      
}

.p1{
    color: brown;
    font-size: 40px;
    text-align: left;
    font-family: 'Vidaloka', serif;
}



/*articles.handlebars*/

.right-side{
    padding-left: 600px;
    font-size: 20px;
    font-family: 'Vidaloka', serif;
   
}

.left-side{
    float: left;
    height: 5px;
}

.p2{
    color: rgb(219, 168, 168);
    font-size: 40px;
    text-align: right;
    font-family: 'Vidaloka', serif;
    padding-bottom: 200px;
    background-color: black;
}
/*End of articles.handlebars*/


